body{
  background-color: rgba(137, 10, 168, 0.568);
  position: relative;
  
}
body::after {
  content: "";
  background: url('https://cdn.pixabay.com/photo/2019/03/03/20/23/flowers-4032775__340.png');
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;   
  background-size: contain;
}

.result{
  width: 20%;
  height:auto;
  text-size-adjust: auto;
  border: 2px solid black;
  background-color: coral;
}

.before{
  width: 20%;
  height:auto;
  border: 1px solid black;
  }
.after{
  border: 1px solid black;
  }
#searchbar{
    width: 90%;
    align-self: center;
  }
  main{
     position: relative;
     
   }
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    opacity: 1.0;
    position: relative;
    z-index: +2;
  }
  .flex-equal > * {
    flex: 1;
  }
 
  
